.pokemon-list-wrapper{
    margin: 1rem auto;
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* font-size: 4rem; */
}
.controls{
    text-align: center;
}
.controls button{
    /* padding:0.5rem 1rem 0.5rem 1rem; */
    margin-left: 1rem;
}